@use 'sass:selector';
@use 'sass:color';

// acts as a parent selector for the child element
// parent :selector { @include unify-parent('child') } results in parent child:selector
@mixin unify-parent($child) {
	@at-root #{selector.unify(&, $child)} {
		@content;
	}
}

// desktop
form:not(.login-form) {
	$form-padding: .5rem;
	$form-field-height: 2.5rem;

	@mixin layout {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	@mixin form-field {
		width: 100%;
		height: $form-field-height;
		padding: $form-padding;
	}

	.form-columns {
		@include layout;

		.form-column {
			width: 100%;
		}
	}

	.form-field {
		padding: .5rem;

		.form-data :not(.no-css) {
			@include unify-parent('textarea') {
				width: 100%;
				min-height: 2*$form-field-height;
				max-height: 8*$form-field-height;
				padding: $form-padding;
				resize: vertical;
			}

			@include unify-parent('input') {
				&[type='text'],
				&[type='email'],
				&[type='tel'],
				&[type='date'],
				&[type='number'],
				&[type='url'],
				&[type='range'],
				&[type='password'] {
					@include form-field;
				}
			}

			@include unify-parent('select') {
				@include form-field;

				&[multiple] {
					height: auto;
					max-height: 6*$form-field-height;
				}
			}
		}

	}

	// TODO: unify buttons with fancy class
	.buttons {
		@include layout;
		gap: 1rem;
		padding: $form-padding;

		button {
			@include form-field;

			color: $primary-color;
			border: 1px solid $primary-color;

			&.btn-primary {
				color: $text-color-secondary;
				background-color: $primary-color;

				&:hover {
					background-color: darken($primary-color, 10%);
				}
			}

			&:hover, &:focus, &:focus-visible {
				border: 1px solid $primary-color;
				box-shadow: 0 0 0 .1rem rgba($primary-color, .25);
				outline-color: $primary-color;
				background-color: transparentize($primary-color, .9);
			}
		}
	}

	// TODO: create a $form-color variable
	input, textarea, select {
		accent-color: $primary-color; // for checkboxes, radio, range, ...

		@if ($dark-mode == true) {
			color-scheme: dark;
		}

		&:focus, &:focus-visible {
			border-color: $primary-color;
			outline: $primary-color;
			box-shadow: 0 0 0 .1rem rgba($primary-color, .25);
		}
	}

	select option {
		&:hover {
			box-shadow: 0 0 10px 100px $primary-color inset;
		}

		&[selected] {
			background-color: $primary-color;
		}
	}

	.switch-toggle input:checked + label {
		background-color: $primary-color;
	}
}
