@use 'sass:color';
@use '../../hadron/scss/theme' as hadron;

// theme variables
$dark-mode: hadron.$dark-mode;
$mobile-menu-colored: hadron.$mobile-menu-colored;

// color definitions
$primary-color: hadron.$primary-color;
$accent-color: hadron.$accent-color;
$grey: hadron.$grey;
$light-overlay: hadron.$light-overlay;
$dark-overlay: hadron.$dark-overlay;

// sizes
$responsive-breakpoint-mobile: hadron.$responsive-breakpoint-mobile;
$responsive-breakpoint-tablet: hadron.$responsive-breakpoint-tablet;
$responsive-breakpoint-desktop: hadron.$responsive-breakpoint-desktop;

// content
$background-color: hadron.$background-color;
$text-color: hadron.$text-color;
$text-color-light: hadron.$text-color-light;
$text-color-secondary: hadron.$text-color-secondary;
$text-color-secondary-dark: hadron.$text-color-secondary-dark;
$link-color: hadron.$link-color;
$link-color__active: hadron.$link-color__active;

// header
$header-background: hadron.$header-background;
$header-text: hadron.$header-text;
$header-text-dark: hadron.$header-text-dark;

// footer
$footer-background: hadron.$footer-background;
$footer-text: hadron.$footer-text;
$footer-text-link: hadron.$footer-text-link;
