// Core variables and mixins
@import 'quark/theme';
@import '../../quark/scss/spectre/variables'; // TODO: make them editable too?
@import '../../quark/scss/spectre/mixins';

@import '../../quark/scss/theme/fonts';
@import '../../quark/scss/theme/mixins';
@import '../../quark/scss/theme/framework';
@import '../../quark/scss/theme/typography';
@import '../../quark/scss/theme/forms';
@import '../../quark/scss/theme/mobile';
@import '../../quark/scss/theme/animation';

@import '../../quark/scss/theme/header';
@import '../../quark/scss/theme/footer';
@import '../../quark/scss/theme/menu';

// Extra Skeleton Styling
@import '../../quark/scss/theme/blog';
@import '../../quark/scss/theme/onepage';
