<span class="snipcart-summary">
    <a href="#" class="snipcart-checkout">
        {{ 'PLUGIN_SNIPCART.TEMPLATES.CHECKOUT'|t|e }}
        <i class="fa fa-shopping-cart">
            <span class="snipcart-items-count"></span>
        </i>
    </a>
</span>

