// css reset
* { box-sizing: border-box; }

// smooth scroll (for anchor links)
html { scroll-behavior: smooth; }

.f {
	display: flex;

	&.col { flex-direction: column; }

	&.row { flex-direction: row; }

	&.c { justify-content: center; }

	&.a { align-items: center; }
}
