@use 'sass:color';

// labels
.label.label-secondary {
	color: $link-color;
	background-color: mix($link-color, $light-overlay, 10%);
}

// darkmode elements
@if ($dark-mode) {
	input, textarea, button:not(.btn-primary), .btn:not(button),
	.notices, .card, .tab, .accordion-wrapper label,
	code:not([class*=language-]), pre {
		background-color: $dark-overlay !important;

		& code[class*=language-] {
			background-color: transparent !important;
		}
	}

	blockquote {
		border-left-color: $dark-overlay !important;
	}
}

body {
	background-color: $background-color;
	color: $text-color;

	h1, h2, h3, h4, h5, h6 {
		color: $text-color;
	}

	a:not(:has(.title), :is(.mobile-container a)) {
		color: $link-color;

		&:hover, &:focus, &:active, &:visited {
			color: $link-color__active;
		}

		&.btn {
			border-color: $accent-color;
		}
	}

	ol ol, ol ul, ul ol, ul ul {
		margin: 0 1.6rem;
	}

	@if ($mobile-menu-colored) {
		.treemenu li a:is(a, .active, :focus, :hover) {
			color: $link-color !important;
		}
	}

	.hadron-font{
		font-family: Hadron, sans-serif;
		text-transform: uppercase;
	}
}
