@use 'sass:color';

// theme variables
$dark-mode: false;
$mobile-menu-colored: false;

// color definitions
$primary-color: #4063CB !default;
$accent-color: #4063CB !default;
$grey: #3a414e !default;
$light-overlay: rgba(255, 255, 255, 0.25) !default;
$dark-overlay: rgba(0, 0, 0, 0.25) !default;

// sizes
$responsive-breakpoint-mobile: 640px !default;
$responsive-breakpoint-tablet: 840px !default;
$responsive-breakpoint-desktop: 1280px !default;

// content
$background-color: white !default;
$text-color: $grey !default;
$text-color-light: mix($text-color, $light-overlay, 25%) !default;
$text-color-secondary: white !default;
$text-color-secondary-dark: mix($text-color-secondary, $dark-overlay) !default;
$link-color: $primary-color !default;
$link-color__active: $accent-color !default;

// header
$header-background: $background-color !default;
$header-text: $text-color !default;
$header-text-dark: $text-color-secondary !default;

// footer
$footer-background: $background-color !default;
$footer-text: $text-color !default;
$footer-text-link: $link-color !default;

@font-face {
	font-family: 'Hadron';
	src: url(../assets/nasalization.otf);
}
