// general
@import 'theme';
@import 'base';
@import 'overrides';

// components
@import 'components';
@import 'components/header';
@import 'components/navigation';
@import 'components/language-switcher';
@import 'components/hero';
@import 'components/form';
@import 'components/table';
@import 'components/footer';

// templates
@import 'templates/cards';
@import 'templates/side-by-side';
