{% extends 'layouts/modular.html.twig' %}
{% set template_name = 'modular-cards cards' %}

{% block modular_content %}
	{{ content|raw }}
	<div class="cards-list">
		{% for card in page.header.cards %}
			{% include 'partials/card-content.html.twig' with {card: card} %}
		{% endfor %}
	</div>
{% endblock modular_content %}
