{% extends 'layouts/modular.html.twig' %}
{% set template_name = 'modular-default' %}

{% set image = page.media.images|first %}

{% block modular_content %}
    <div class="columns">
        <div class="column col-12 col-md-12">
            {{ content|raw }}
        </div>
    </div>
{% endblock modular_content %}
